@font-face {
    font-family: "Primary";
    src: url('~assets/fonts/GopherDisplay-Regular.otf') format("truetype");
}

@font-face {
    font-family: "Secondary";
    src: url('~assets/fonts/Sarabun-Regular.ttf') format("truetype");
}
