h1,
h2,
h3,
h4,
h5,
h6,
button,
.v-btn__content {
    color: black;
    font-weight: normal;
    letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: "Primary", sans-serif;
    font-weight: normal;
}

button,
.v-btn__content {
    color: $color-black !important;
    font-family: "SecondaryLight", sans-serif;
}

.theme--dark.v-application {
    background-color: $color-night !important;
}

h1 {
    font-size: 250px;
}

h2 {
   font-size: 50px;
}

p,
a,
li,
ul {
    color: black;
    font-family: "Secondary", sans-serif;
    letter-spacing: 0.5px;
    font-size: 25px;
}

a {
    color: $color-black;
}

.v-main section {
    padding: 120px;
}

.v-btn:not(.v-btn--round).v-size--default {
    padding: 25px 25px !important;
    min-width: 150px;
    border-radius: 50px;
    font-size: 1.2rem !important;

    &.btn {
        &.light {
            background: $color-light2;
            border: 1px solid $color-black;

            > span {
                color: $color-black !important;
            }
        }

        &.transparent{
            background-color: transparent;
            border: 1px solid $color-black !important;
            margin-bottom: 50px;
        > span {
            color: $color-black !important;
            }
        }
        &.transparent:hover{
            background-color: $color-black !important;
            border: 1px solid $color-black !important;

            color: $color-white !important;
            }
        

        &.dark {
            background: $color-night;
            border: 1px solid $color-white;

            > span {
                color: $color-black !important;
            }
        }

        &.light:hover {
            background: $color-light;
            border: 1px solid $color-black;

            > span {
                color: $color-black;
            }
        }

        &.dark:hover {
            background: $color-white;
            border: 1px solid $color-night;

            > span {
                color: $color-night;
            }
        }

        &.invisible {
            background: $color-invisible;
        }
    }
}

@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 44px;
    }

    h2 {
        font-size: 32px;
    }

    p,
    a,
    li,
    ul {
        font-size: 16px;
    }

    .v-btn:not(.v-btn--round).v-size--default {
        font-size: 16px !important;
    }

    .v-main section {
        padding: 50px;
    }
}
