*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

footer, header, nav, section, main{
    display: block;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    color: $color-black;
    background: $color-white;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}

a,
button,
.v-btn__content {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  text-transform: none;
  font-weight: normal;

  @media only screen and (max-width: 768px) {
    cursor: default !important;
    border: none;
    outline: none;
  }
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}